$main-color: #4caf50;
$background-color: #f9f9f9;

.Shop {
  display: flex;
  flex-direction: column;
  border: 2px solid $main-color;
  padding: 20px;
  margin: 20px;
  background: $background-color;

  .shop-header {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }

  .shop-logo {
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin-right: 20px;
    border-radius: 10px;
    border: 1px solid #ddd;
    background: $background-color;
  }

  .shop-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .title {
    color: $main-color;
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 6px;
  }

  .products-list {
    border: 1px solid #bdbdbd;
    background: $background-color;
    padding: 15px 25px;
    border-radius: 8px;
    margin-top: 10px;
    list-style-type: square;

    li {
      margin-bottom: 8px;
      font-size: 1.1em;
      color: #333;

      // последний li
      &:last-child { 
        margin-bottom: 0;
      }
    }
  }
}

.products-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 16px;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0,0,0,0.04);

  th, td {
    border: 1px solid #e0e0e0;
    padding: 10px 16px;
  }

  th {
    background: #f5f5f5;
    color: #333;
    font-weight: 600;
    text-align: left; // по левому краю
    font-size: 1.1em;
  }

  td {
    vertical-align: middle;
    font-size: 1em;
    color: #444;
  }

  img {
    display: block;
    max-width: 60px;
    max-height: 60px;
    border-radius: 6px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.07);
  }

  tr:nth-child(even) { //четные
    background: #fafafa;
  }

  tr.selected {
    background: rgba($main-color, 0.5); // основной зелёный с прозрачностью
    font-weight: bold;
    transition: background 0.2s;
  }

  tr.selected td {
    color: black; 
  }

   button {
    background: #e07a3f; // мягкий светло-оранжевый
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 8px 18px;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0,0,0,0.07);
    transition: background 0.2s, transform 0.1s;

    &:hover, &:focus {
      background: #ffa726; // чуть насыщеннее при наведении
      transform: translateY(-2px) scale(1.04);
      outline: none;
    }
    &:active {
      background: #fb8c00; // насыщенный оранжевый при нажатии
      transform: scale(0.98);
    }
  }
}