$main-color: #4caf50;

.Shop {
  display: flex;
  flex-direction: column;
  border: 2px solid $main-color;
  padding: 20px;
  margin: 20px;
  background: #f9f9f9;

  .shop-header {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }

  .shop-logo {
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin-right: 20px;
    border-radius: 10px;
    border: 1px solid #ddd;
    background: #fff;
  }

  .shop-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .title {
    color: $main-color;
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 6px;
  }

  .products-list {
    border: 1px solid #bdbdbd;
    background: #fff;
    padding: 15px 25px;
    border-radius: 8px;
    margin-top: 10px;
    list-style-type: square;

    li {
      margin-bottom: 8px;
      font-size: 1.1em;
      color: #333;

      // последний li
      &:last-child { 
        margin-bottom: 0;
      }
    }
  }
}